<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>LMV Portfolio</title> 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="nav-link active"><a href="/">Home</a></li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Portfolio of Leanne Vermillion</h3>
        </div>
        <div class="row marketing">
            <h2><a href="logos">Logos</a></h2>
            <h2><a href="layouts">Layouts</a></h2>
            <h2><a href="links">Links</a></h2>
            <h2><a href="photos">Photos</a></h2>
            <h2><a href="projects">Personal Projects</a></h2>     
        </div>
        <footer class="footer">
            <p>Written and created by Leanne Vermillion 2018.</p>
        </footer>
    </div>

</body>
 
</html>