<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>LMV Layouts</title> 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="nav-link active"><a href="/">Home</a></li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Layouts:</h3>
        </div>
        <div class="row marketing">
            <h2>Brochures:</h2>
                <img src="static/thumbs/AKON_Brochure.jpg" alt="AKON Brochure">
                <img src="static/thumbs/CMT_Brochure1.jpg" alt="CMT Brochure">
                <img src="static/thumbs/PESC_Brochure.jpg" alt="PESC Brochure">
                <img src="static/thumbs/PLCC_Brochure.jpg" alt="PLCC Brochure">
                <img src="static/thumbs/Filtronic_QRG_Sum_07-1.jpg" alt="Filtronic Brochure">
            <h2>Advertisments:</h2>
                <img src="static/thumbs/OML_Ad.jpg" alt="OML Ad"> 
                <img src="static/thumbs/NordenLookTo.jpg" alt="Norden Ad">    
                <img src="static/thumbs/OML_AD_FYCEF.jpg" alt="OML Ad">     
                <img src="static/thumbs/CMT_Ad.jpg" alt="CMT Ad">      
                <img src="static/thumbs/NordenAdRCN.jpg" alt="Norden Ad">                                 
            <h2>Business Cards:</h2>
                <img src="static/thumbs/JGA_BC.jpg" alt="JGA BC">
                <img src="static/thumbs/Nautilus_Banner.jpg" alt="Nautilus BC">
                <img src="static/thumbs/Wizard_of_Paws_BC_fr_SC2.jpg" alt="Wizard of Paws BC">
                <img src="static/thumbs/PLCC_BC.jpg" alt="PLCC BC">
            <h2>Other Layouts:</h2>
                <img src="static/thumbs/HobeesKidsMenu.jpg" alt="Hobees Kids Menu"> 
                <img src="static/thumbs/ML_PL.jpg" alt="MicroLambda Placecard"> 
                <img src="static/thumbs/BLF_Env.png" alt="BLF Envelope"> 
                <img src="static/thumbs/IKB_20Yr_logo.png" alt="IKB 20Yr"> 
                <img src="static/thumbs/transportation_icon.png" alt="Icons"> 
        </div> 
        <footer class="footer">
            <p>Written and created by Leanne Vermillion 2018.</p>
        </footer>
    </div>

</body>
 
</html>