<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>LMV Links</title> 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="nav-link active"><a href="/">Home</a></li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Links:</h3>
        </div>
        <div class="row marketing">
            <h2>Resume:</h2>
                <img src="static/LMV_Resume.jpg" alt="Resume">
            <h2><a href="https://github.com/llramladu">GitHub</a></h2>                               
            <h2><a href="https://www.linkedin.com/in/leanne-vermillion-5ba89623/">LinkedIn</a></h2>
            <h2><a href="http://teamserpens.pythonanywhere.com/">School Project</a></h2>
        </div> 
        <footer class="footer">
            <p>Written and created by Leanne Vermillion 2018.</p>
        </footer>
    </div>

</body>
 
</html>