<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>LMV Logo Samples</title> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="nav-link active"><a href="/">Home</a></li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Logos:</h3>
        </div>
        <div class="row marketing">
            <h2>Designed from Scratch:</h2>
            <div class="row">
                <div class="row-xs-3 col-md-3">
                    <div class="row-xs-3 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="static/thumbs/NebulaDynamicsLogo1.png" data-toggle="modal" data-target="#myModal" data-image-src="static/NebulaDynamicsLogo1.jpg" alt="Nebula Dynamics Logo" data-caption="The Nebula Dynamics logo was created for nebuladynamics.org. This Design is based on the helix nebula.">
                        </a>
                    </div>
                    <div class="row-xs-3 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="static/thumbs/DelVechio_Designs_BC.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/DelVechio_Designs_BC.jpg"alt="DelVechio Logo" data-caption="This DelVechio logo created for the back of business cards. Based on images provided by the customer, and modifying text.">
                        </a>
                    </div>
                </div>
            </div>
            <h2>Recreated:</h2>
            <div class="row">
                <div class="row-xs-3 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/Norden_Logo.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/Norden_Logo.jpg" alt="Norden Logo" data-caption="The Norden Millimeter logo was recreated from a low-resolution file, to be used for large format printing and high-resolution advertisements.">
                    </a>
                </div>
                <div class="row-xs-3 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/KOR_logo.png" data-toggle="modal" data-target="#myModal" data-image-src="static/KOR_logo.png" alt="KOR Logo" data-caption="The KOR logo was recreated from a low-resolution file. Modified text from outlined fonts then adding the bevel and grey gradient effect.">
                    </a>
                </div>
                <div class="row-xs-3 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/JGA_logo.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/JGA_logo.jpg" alt="JGA Logo" data-caption="Johnson Graphic Arts logo was recreated from picture of logo, and was originally used on the customer’s vehicle.">
                    </a>
                </div>
                <div class="row-xs-3 col-md-3">
                    <a href="#" class="thumbnail"> 
                        <img src="static/thumbs/IKB_logo.png" data-toggle="modal" data-target="#myModal" data-image-src="static/IKB_logo.png" alt="IKB Logo" data-caption="IKB logo’s original file was made of many small parts, so it needed to be recreated for ease of use."> 
                    </a>
                </div>
                <div class="row-xs-3 col-md-3">
                    <a href="#" class="thumbnail">    
                        <img src="static/thumbs/SEI_Logo.png" data-toggle="modal" data-target="#myModal" data-image-src="static/SEI_Logo.png" alt="SEI Logo" data-caption="The Structural Engineers Incorporated logo was recreated from a low-resolution file.">
                    </a>
                </div>
                <div class="row-xs-3 col-md-3">
                    <a href="#" class="thumbnail">     
                        <img src="static/thumbs/PPCG_Logo.png" data-toggle="modal" data-target="#myModal" data-image-src="static/PPCG_Logo.png" alt="PPCG Logo" data-caption="Pacific Peninsula’s Logo had to be recreated because the customer didn’t have a file. This logo was created from a scan of a printed image."> 
                    </a>
                </div>
                <div class="row-xs-3 col-md-3">
                    <a href="#" class="thumbnail">    
                        <img src="static/thumbs/GleimJewelerLogo.png" data-toggle="modal" data-target="#myModal" data-image-src="static/GleimJewelerLogo.png" alt="Gleim Logo" data-caption="Gleim the Jeweler’s logo had to be recreated because the customer didn’t have a file. This logo was created from a scan of a printed image."> 
                    </a>
                </div>
                <div class="row-xs-3 col-md-3">
                    <a href="#" class="thumbnail">     
                        <img src="static/thumbs/RST_Logo.png" data-toggle="modal" data-target="#myModal" data-image-src="static/RST_Logo.png" alt="RST Logo" data-caption="The Radar Systems Technology logo was recreated from a low-resolution file.">
                    </a>
                </div>
                <div class="row-xs-3 col-md-3">
                    <a href="#" class="thumbnail">                 
                        <img src="static/thumbs/CPS_Logo.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/CPS_Logo.jpg" alt="CPS Logo" data-caption="The Customer Product Safety logo was recreated from low-resolution file and used in advertisements.">
                    </a>
                </div>
            </div>
            <h2>Modified:</h2> 
            <div class="row">
                <div class="row-xs-3 col-md-3">
                    <a href="#" class="thumbnail">  
                        <img src="static/thumbs/Corner103Logo.png" data-toggle="modal" data-target="#myModal" data-image-src="static/Corner103Logo.png" alt="Corner Logo" data-caption="The Corner 103 logo was modified for better printing.">
                    </a>
                </div>
                <div class="row-xs-3 col-md-3">
                    <a href="#" class="thumbnail"> 
                        <img src="static/thumbs/BLF_Logo.png" data-toggle="modal" data-target="#myModal" data-image-src="static/BLF_Logo.png" alt="BLF Logo" data-caption="The Beth Longwell Foundation’s logo was modified on a yearly bases to change the color."> 
                    </a>
                </div>
                <div class="row-xs-3 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/HobeesColorLogo.png" data-toggle="modal" data-target="#myModal" data-image-src="static/HobeesColorLogo.png" alt="Hobees Logo" data-caption="The Hobee’s logo had to be modified for specific uses, from changing the colors to removing the line in the logo."> 
                    </a>
                </div>
                <div class="row-xs-3 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/MediaMorphosis_logo.png" data-toggle="modal" data-target="#myModal" data-image-src="static/MediaMorphosis_logo.png" alt="MediaMorphosis Logo" data-caption="The MediaMorphosis logo was modified for different promotional activities, and modified when the company’s name was changed to WeMorph.">  
                    </a>
                </div>
                <div class="row-xs-3 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/MVLA_Logo.png" data-toggle="modal" data-target="#myModal" data-image-src="static/MVLA_Logo.png" alt="MVLA Logo" data-caption="The Mountain View Los Altos School District logo was modified to match the color of previous versions of their logo.">
                    </a>
                </div>
            </div>
            <h4>Files on this website are not vector based or high-resolution, but vector based files exist for all of them.</h4>               
        </div> 
        <footer class="footer">
            <p>Written and created by Leanne Vermillion 2018.</p>
        </footer>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2><p class="modal-title"></p></h2>
                <img class="showimage img-responsive" src="" />
                <h3><p class="modal-text"></p></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        $('img').on('click', function () {
            var image = $(this).attr('data-image-src');
            var title = $(this).attr('alt');
            var caption = $(this).attr('data-caption');
            $('#myModal').on('show.bs.modal', function () {
                $(".modal-title").text(title);
                $(".showimage").attr("src", image);
                $(".modal-text").text(caption);
            });
        });
    });
</script>

</body>
 
</html>