<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>LMV Logo Samples</title> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="nav-link active"><a href="/">Home</a></li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Logos:</h3>
        </div>
        <div class="row marketing">
            <h2>Designed from Scratch:</h2>
                <img src="static/thumbs/NebulaDynamicsLogo1.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/NebulaDynamicsLogo1.jpg" alt="Nebula Dynamics Logo">
                <img src="static/thumbs/DelVechio_Designs_BC.jpg" alt="DelVechio Logo">
            <h2>Recreated:</h2>
                <img src="static/thumbs/Norden_Logo.jpg" alt="Norden Logo"> 
                <img src="static/thumbs/KOR_logo.png" alt="KOR Logo">
                <img src="static/thumbs/JGA_logo.jpg" alt="JGA Logo"> 
                <img src="static/thumbs/IKB_logo.png" alt="IKB Logo">     
                <img src="static/thumbs/SEI_Logo.png" alt="SEI Logo">     
                <img src="static/thumbs/PPCG_Logo.png" alt="PPCG Logo">     
                <img src="static/thumbs/GleimJewelerLogo.png" alt="Gleim Logo">      
                <img src="static/thumbs/RST_Logo.png" alt="RST Logo">                 
                <img src="static/thumbs/CPS_Logo.jpg" alt="CPS Logo"> 
            <h2>Modified:</h2>   
                <img src="static/thumbs/Corner103Logo.png" alt="Corner Logo">  
                <img src="static/thumbs/BLF_Logo.png" alt="BLF Logo"> 
                <img src="static/thumbs/HobeesColorLogo.png" alt="Hobees Logo"> 
                <img src="static/thumbs/MediaMorphosis_logo.png" alt="MediaMorphosis Logo">  
                <img src="static/thumbs/MVLA_Logo.png" alt="MVLA Logo">
            <h4>Files on this website are not vector based or high-resolution, but vector based files exist for all of them.</h4>               
        </div> 
        <footer class="footer">
            <p>Written and created by Leanne Vermillion 2018.</p>
        </footer>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="modal-text"></p>
                <img class="showimage img-responsive" src="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>

  <script type="text/javascript">
    $(document).ready(function () {
    $('img').on('click', function () {
        var image = $(this).attr('data-image-src');
        var text = $(this).attr('alt');
        $('#myModal').on('show.bs.modal', function () {
            $(".modal-text").text(text);
            $(".showimage").attr("src", image);
        });
    });
});
  </script>

</body>
 
</html>