<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>LMV Logo Samples</title> 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="nav-link active"><a href="/">Home</a></li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Logos:</h3>
        </div>
        <div class="row marketing">
            <h2>Designed from Scratch:</h2>
            <img src="NebulaDynamicsLogo1.jpg" alt="Nebula Dynamics Logo">
            <h2>Recreated:</h2>
            <h2>Modified:</h2>    
        </div> 
        <footer class="footer">
            <p>Written and created by Leanne Vermillion 2018.</p>
        </footer>
    </div>

</body>
 
</html>