<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>LMV Photos</title> 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="nav-link active"><a href="/">Home</a></li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Photos:</h3>
        </div>
        <div class="row marketing">
            <h2>Modified Pictures:</h2>
            <div class="row">
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/BridgePic.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/BridgePic.jpg" alt="England Train Picture" data-caption="I took this photo was taken in England while on a train and then recolored.">
                    </a>
                </div>
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/BikePic.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/BikePic.jpg" alt="England Bike Picture" data-caption="This photo was taken in England, edited to remove some details and recolored.">
                    </a>
                </div>
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/IMG_1229.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/IMG_1229.jpg" alt="Waterfall Picture" data-caption="I took this photo of Multnomah Falls, and then edited out any people on the bridge.">
                    </a>
                </div>
            </div>
            <h2>Pictures:</h2>
            <div class="row">
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/IMG_0883.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/IMG_0883.jpg"alt="Crater Lake" data-caption="I took this photo at Crater Lake, no editing."> 
                    </a>
                </div>
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/IMG_1370_2.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/IMG_1370_2.jpg" alt="Coast Pic" data-caption="I took this photo on the coast of California, no editing.">   
                    </a>
                </div>
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail"> 
                        <img src="static/thumbs/IMG_0906.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/IMG_0906.jpg" alt="Lake Near Falls" data-caption="I look this photo of a small lake that is near Klamath Falls, Oregon, no editing.">  
                    </a>
                </div>
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">   
                        <img src="static/thumbs/IMG_1087.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/IMG_1087.jpg" alt="Seattle" data-caption="I took this photo in Seattle, Washington, no editing.">      
                    </a>
                </div>
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/IMG_0401.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/IMG_0401.jpg" alt="Jellyfish" data-caption="I took this photo at the Monterey Bay Aquarium in California, no editing.">    
                    </a>
                </div>
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">  
                        <img src="static/thumbs/IMG_1049.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/IMG_1049.jpg" alt="Cuttlefish" data-caption="I took this picture of these cuttlefish was taken at the California Academy of Sciences, no editing."> 
                    </a>
                </div>
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">      
                        <img src="static/thumbs/IMG_1520.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/IMG_1520.jpg" alt="Waterfall" data-caption="I took this picture near Multnomah Falls, no editing.">  
                    </a>
                </div>
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">   
                        <img src="static/thumbs/IMG_0134.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/IMG_0134.jpg" alt="Starfish" data-caption="I took this picture of a starfish off the coast of California near Fort Bragg, no editing">    
                    </a>
                </div>
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">   
                        <img src="static/thumbs/IMG_0399.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/IMG_0399.jpg" alt="Single Jellyfish" data-caption="I took this photo at the Monterey Bay Aquarium in California, no editing.">  
                    </a>
                </div>
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail"> 
                        <img src="static/thumbs/IMG_0145.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/IMG_0145.jpg" alt="Another Coast Pic" data-caption="I took this photo on the coast of California, no editing.">   
                    </a>
                </div>
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/IMG_0999.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/IMG_0999.jpg" alt="Lots of Jellyfish" data-caption="I took this picture of these jellyfish was taken at the California Academy of Sciences, no editing.">   
                    </a>
                </div>
            </div>                                
            <h2>Edited Images:</h2>
            <div class="row">
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/davosDrawing.png" data-toggle="modal" data-target="#myModal" data-image-src="static/davosDrawing.png" alt="Davos Drawing" data-caption="Edited this image to make some minor changes and darken the line work.">
                    </a>
                </div>
            </div>
        </div> 
        <footer class="footer">
            <p>Written and created by Leanne Vermillion 2018.</p>
        </footer>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2><p class="modal-title"></p></h2>
                <img class="showimage img-responsive" src="" />
                <h3><p class="modal-text"></p></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        $('img').on('click', function () {
            var image = $(this).attr('data-image-src');
            var title = $(this).attr('alt');
            var caption = $(this).attr('data-caption');
            $('#myModal').on('show.bs.modal', function () {
                $(".modal-title").text(title);
                $(".showimage").attr("src", image);
                $(".modal-text").text(caption);
            });
        });
    });
</script>

</body>
 
</html>