<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>LMV Photos</title> 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="nav-link active"><a href="/">Home</a></li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Photos:</h3>
        </div>
        <div class="row marketing">
            <h2>Modified Pictures:</h2>
                <img src="static/thumbs/BridgePic.jpg" alt="England Train Picture">
                <img src="static/thumbs/BikePic.jpg" alt="England Bike Picture">
                <img src="static/thumbs/IMG_1229.jpg" alt="Waterfall Picture">
            <h2>Pictures:</h2>
                <img src="static/thumbs/IMG_0883.jpg" alt="Crater Lake"> 
                <img src="static/thumbs/IMG_1370_2.jpg" alt="Coast Pic">    
                <img src="static/thumbs/IMG_0906.jpg" alt="Lake Near Falls">     
                <img src="static/thumbs/IMG_1087.jpg" alt="Seattle">      
                <img src="static/thumbs/IMG_0401.jpg" alt="Jellyfish">      
                <img src="static/thumbs/IMG_1049.jpg" alt="Cuttlefish">       
                <img src="static/thumbs/IMG_1520.jpg" alt="Waterfall">     
                <img src="static/thumbs/IMG_0134.jpg" alt="Starfish">       
                <img src="static/thumbs/IMG_0399.jpg" alt="Single Jellyfish">   
                <img src="static/thumbs/IMG_0145.jpg" alt="Another Coast Pic">   
                <img src="static/thumbs/IMG_0999.jpg" alt="Lots of Jellyfish">                                   
            <h2>Edited Images:</h2>
                <img src="static/thumbs/davosDrawing.png" alt="Davos Drawing">
        </div> 
        <footer class="footer">
            <p>Written and created by Leanne Vermillion 2018.</p>
        </footer>
    </div>

</body>
 
</html>