<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>LMV Projects</title> 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="nav-link active"><a href="/">Home</a></li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Projects:</h3>
        </div>
        <div class="row marketing">
            <h2>School Projects:</h2>
            <div class="row">
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/SuperheroERDiagram_LMV_CP.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/SuperheroERDiagram_LMV_CP.jpg" alt="Superhero SQL Diagram" data-caption="This is the diagram I created for a school project. The class was a MySQL class, and as a team of two people we had to create a website where people could look up and add to the database. The other contributor for this assignment was Clarence Pine. I have the files for the database and website but it isn’t running anywhere right now.">
                    </a>
                </div>
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/PicStoryboard_Page_01.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/PicStoryboard_Page_01.jpg" alt="CarPool App Screenshots" data-caption="This was a team assignment to create an application. The team came up with a carpool application, and I created the screenshot samples for each page. This assignment was only creating the idea of an application and didn’t involve any coding.">
                    </a>
                </div>
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/GameSiteFlow.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/GameSiteFlow.jpg" alt="Flowchart for Team Serpens Game Server" data-caption="This was a school assignment were Rebecca Thompson and I created a game server.  The website is up and running at teamserpens.pythonanywhere.com. This is the design document I created to cover the flow of the website.">
                    </a>
                </div>
            </div>
            <h2>Costume:</h2>
            <div class="row">
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/titanMark-1.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/titanMark-1.jpg" alt="Titan Mark" data-caption="This was a part of a costume I created for PAX in 2016, based on a Titan Mark from the game Destiny.">
                    </a>
                </div>
                <div class="row-xs-2 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="static/thumbs/hunterCloak-1.jpg" data-toggle="modal" data-target="#myModal" data-image-src="static/hunterCloak-1.jpg" alt="Hunter Cloak" data-caption="This was a part of a costume I created for PAX in 2016, based on a Hunter Cloak from the game Destiny.">
                    </a>
                </div>
            </div>
        </div> 
        <footer class="footer">
            <p>Written and created by Leanne Vermillion 2018.</p>
        </footer>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2><p class="modal-title"></p></h2>
                <img class="showimage img-responsive" src="" />
                <h3><p class="modal-text"></p></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        $('img').on('click', function () {
            var image = $(this).attr('data-image-src');
            var title = $(this).attr('alt');
            var caption = $(this).attr('data-caption');
            $('#myModal').on('show.bs.modal', function () {
                $(".modal-title").text(title);
                $(".showimage").attr("src", image);
                $(".modal-text").text(caption);
            });
        });
    });
</script>

</body>
 
</html>