<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>LMV Projects</title> 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="nav-link active"><a href="/">Home</a></li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Projects:</h3>
        </div>
        <div class="row marketing">
            <h2>School Projects:</h2>
                <img src="static/thumbs/SuperheroERDiagram_LMV_CP.jpg" alt="Superhero SQL Diagram">
                <img src="static/thumbs/PicStoryboard_Page_01.jpg" alt="CarPool App Screenshots">
                <img src="static/thumbs/GameSiteFlow.jpg" alt="Flowchart for Team Serpens Game Server">
            <h2>Costume:</h2>
                <img src="static/thumbs/titanMark-1.jpg" alt="Titan Mark">
                <img src="static/thumbs/hunterCloak-1.jpg" alt="Hunter Cloak"> 
        </div> 
        <footer class="footer">
            <p>Written and created by Leanne Vermillion 2018.</p>
        </footer>
    </div>

</body>
 
</html>